[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

.navbar.navbar-light.navbar-expand.bg-white.shadow.mb-4.topbar.static-top {
  color: rgb(84,68,60);
}

body {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9AA0AC;
  text-align: left;
  background-color: #fff;
  color: #a2a2a2;
}

.bg-white {
  background-color: rgb(40,32,28)!important;
}

#wrapper #content-wrapper {
  background-color: #262626;
  width: 100%;
  overflow-x: hidden;
}

.text-dark {
  color: #e1e1e1!important;
}

.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg,#2d2728 10%,#2d2728);
  background-size: cover;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #393939;
  background-clip: border-box;
  border: 1px solid #2D2728;
  border-radius: .35rem;
  padding: 0px;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #2d2d2d;
  border-bottom: 0px solid;
}

.text-primary {
  color: #A1ADB9!important;
}

.sidebar-dark .nav-item .nav-link.active, .sidebar-dark .nav-item .nav-link.active i, .sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover, .sidebar-dark .nav-item .nav-link:hover i {
  color: #fff;
}

.custom-card {
  margin: 1vw;
  min-width: 20vw;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #e3e6f0;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: vertical-align:middle;
  vertical-align: middle;
}

.left-cell {
  width: 10vw;
  height: 10vw;
  max-width: 10vw;
}

a:hover {
  color: inherit;
  text-decoration: initial;
}

.sidebar-dark .nav-item .nav-link i {
}

.im-not-going-to-reuse-this-name {
  background: url("../../assets/img/BSD%20Day%20BgBlur.png");
  background-size: cover;
  height: 105vh;
  background-color: rgba(0,0,0,1);
  opacity: 1;
  filter: grayscale(38%);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  /*left: 0;*/
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: .85rem;
  color: #858796;
  text-align: left;
  list-style: none;
  background-color: #29201e;
  background-clip: padding-box;
  border: 1px solid #222222;
  border-radius: .35rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #767676;
  text-decoration: none;
  background-color: #402422;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #3e2927;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #9f9f9f;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.theme {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: 700;
  color: rgb(249,249,249);
}

.themeText {
  font-family: 'Source Sans Pro', sans-serif;
  color: #c8c8c8;
  margin-top: 16px;
}

.themeDesc {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #c6c6c6!important;
}

input {
  color: rgb(200,200,200);
}

.modal-content {
  background-color: rgba(0,0,0,0.2);
  color: rgb(200,200,200);
}

.btn-primary {
  background-color: rgba(40,40,40,0.2);
  border-color: rgb(42,42,42);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #d0d0d0;
  background-color: #212121;
  border-color: #dddfeb #dddfeb #fff;
}

.nav-link {
  color: rgb(159,159,159);
  border-width: 0px;
}

.tabThing {
  color: rgb(200,200,200);
}

